/* =========================
   GENERAL
========================= */


body {
    margin: 0;

    background:
        radial-gradient(
            circle at 50% 0%,
            hsl(214, 47%, 23%),hsl(237, 49%, 15%)
        );

    min-height: 100vh;


    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}


/* =========================
   HEADER
========================= */

.header-box {
    height: 160px;

    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 25px;
}

.game-title {
    color: white;
    font-weight:700;
    font-size: 30px;
    line-height: 0.9;
}

.score-box {
    background-color: white;

    width: 160px;
    height: 120px;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-title {
    color: hsl(229, 64%, 46%);
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 20px;
}

.score-number {
    color: hsl(229, 25%, 31%);
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
}


/* =========================
   GAME AREA
========================= */

.game-area {
    position: relative;

    width: 100%;
    aspect-ratio: 1 / 1;

    margin-top: 30px;
}


/* Pentágono */

.pentagon {
    position: absolute;

    width: 58%;

    top: 18%;
    left: 21%;

    opacity: 1;
}


/* =========================
   DUEL AREA
========================= */

.duel-area {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-top: 30px;
    gap: 60px;
    justify-content: center;
}

.picked-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.picked-title{
    color: #eeeeee;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: nowrap;
}

.duel-area .choice{
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 250px;
    height: 250px;
    border-width: 20px;
    cursor: default;
    z-index: 2;

}

.duel-area .choice:hover{
    filter: none;
}

.placeholder{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #202536;
    z-index: 1;
    margin: 55px;
}

/* =========================
   CHOICES
========================= */

.choice {
    position: absolute;

    width: 140px;
    height: 140px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    border: 10px solid;

    background-color: #eeeeee;

    cursor: pointer;

}

.choice:hover {
    filter: brightness(1.5);
}

.choice img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}


/* =========================
   POSITIONS
========================= */

/* Scissors - arriba */

.scissors {
    top: 5%;
    left: calc(50% - 70px);

    border-color: #f3a900;
}


/* Paper - arriba derecha */

.paper {
    top: 25%;
    right: 10%;

    border-color: #526df0;
}


/* Rock - abajo derecha */

.rock {
    bottom: 15%;
    right: 20%;

    border-color: #e62d4c;
}


/* Lizard - abajo izquierda */

.lizard {
    bottom: 15%;
    left: 20%;

    border-color: #8449dc;
}


/* Spock - arriba izquierda */

.spock {
    top: 25%;
    left: 10%;

    border-color: #40b9d0;
}


/* =========================
   RULES
========================= */

.rules-button {
    position: fixed;

    bottom: 20px;
    right: 30px;

    background-color: transparent;

    color:hsl(217, 16%, 45%);

    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 8px;

    padding: 10px 35px;

    font-size: 14px;
    letter-spacing: 2px;
}

.rules-button:hover{
    filter: brightness(1.5);
}

.modal-title {
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  font-weight: 700 !important;
  font-size: 30px;
  color: #3b4363 !important;
}
/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {

    .header-box {
        height: 120px;
        padding: 10px 15px;
    }

    .game-title {
        font-size: 16px;
    }

    .score-box {
        width: 100px;
        height: 80px;
    }

    .score-title {
        font-size: 11px;
        letter-spacing: 2px;
    }

    .score-number {
        font-size: 40px;
    }

    .choice {
        width:  95px;
        height: 95px;
        border-width: 7px;
    }

    .rules-button {
        bottom: 10px;
        right: 10px;
        padding: 8px 20px;
    }
}


/* =========================
   SMALL PHONES
========================= */

@media (max-width: 480px) {

    .header-box {
        height: 100px;
    }

    .game-title {
        font-size: 12px;
    }

    .score-box {
        width: 75px;
        height: 65px;
    }

    .score-title {
        font-size: 8px;
    }

    .score-number {
        font-size: 30px;
    }

    .choice {
        width: 70px;
        height: 70px;
        border-width: 5px;
        
    }

    .scissors {
        left: calc(50% - 35px);
    }

    .paper {
        right: 12%;
    }

    .spock {
        left: 12%;
    }

    .rock {
        top: 62%;
        right: 20%;
    }

    .lizard {
        top: 62%;

        left: 20%;
    }
}